// couleurs

$primary:#D5FE00;
$secondary:#1C222C;
$light:#F0EFF4;
$dark:#020202;
$gris: #8A8A8A;

// radius

$radius-pm: 20px;
$radius-gm: 50px;

// font

$stara: 'stara';
$ammonite: 'ammonite';

// size

$size-pm: 16px;
$size-gm: 24px;
$size-xl: 64px;
$size-xxl: 128px;
